*{
    margin: 0;
    padding: 0;
}

body{
    
    
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(car2.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    font-family: 'Raleway', sans-serif;
}
h1{
    letter-spacing: 2px;
    color: white;
}
p{
    color: white;
}
.content{
    width: 100%;
    padding-top: 50px;
    position: relative;
    text-align: center;
    font-size: 22px;
}
.container2{
    height: 50vh;
    background-color: black;
    position: relative;
    width: 100%;
    display: flex;
    
    
    
}
.s{
    width: 80%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: max-content;
}
.carimg{
    width: 64px;
    height: 64px;
   
    
    position: relative;
}
.carbtn{
    font-size: 20px;
    left: 10%;
    line-height: 64px;
    position: relative;
    color: white;
    
   
    font-family: 'Raleway', sans-serif;
}