*{
    margin: 0;
    padding: 0;
}

body{
    
    
}
a{
    text-decoration: none;
    color: white;
    
}
nav{
    width: 100%;
   
    height: 40px;

}
ul{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    
    }
ul li {
    line-height: 40px;
    list-style: none;
    display: inline-block;
    
    
 }
.container{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(car2.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    font-family: 'Raleway', sans-serif;
}
h1{
    letter-spacing: 2px;
    color: white;
}
p{
    color: white;
}
.content{
    width: 100%;
    margin-top: 50px;
    position: relative;
    text-align: center;
    font-size: 22px;
}
.container2{
    min-height: 50vh;
    background-color: white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}
.s{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: calc(90px - 64px);
    height: 90px;
}
.carimg{
    width: 64px;
    height: 64px;
   transform: translate(-50%);
    
    position: relative;
}
.carbtn{
    font-size: 20px;
    left: 10%;
    line-height: 64px;
    position: relative;
    color: black;
    transform: translate(-50%);
   
    font-family: 'Raleway', sans-serif;
}
.cars{
    
    background-color: #f8f8f8;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}
.car-class{
    font-family: MBCorpo Title,DaimlerCAC-Regular,serif;
    font-size: 30px;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
}
.car-img{
    margin-top: 50px;
    height: 150px;
    width: 100%;
    background-image: url(A-class.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.car-price{
    font-family: MBCorpo Title,DaimlerCAC-Regular,serif;
    color: gray;
    text-align: start;
    padding: 10px;
    width: 100%;
    height: 30px;
    font-size: 20px;

}

#img-2{
    background-image: url(C-class.webp);
}
#img-3{
    background-image: url(E-class.webp);
    background-position: right;
}

#img-4{
    background-image: url(EQS.webp);
    background-position: center;
}

#img-5{
    background-image: url(S-class.webp);
    background-position: center;
}
#img-6{
    background-image: url(MS-class.webp);
    background-position: right;
}
